body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.timer-container {
    text-align: center;
}

h1{
    font-size: 24px;
    margin-bottom: 20px;
}

#timer {
    font-size: 48px;
    font-weight: bold;
}